@use './partials/variables' as *;
@use './partials/utilities' as *;
@use "@fortawesome/fontawesome-free/css/all.min.css";
@import "bootstrap/scss/bootstrap";

body{
    height: 100vh;
}

a{
    text-decoration: none;
    color: $color_primary;
    
    &.router-link-exact-active {
        color: $color_secondary;
    }

    &:hover{
        color: $color_secondary_dark;
    }
}

h1{
    color: $color_primary;
    font-size: 75px;
    font-weight: bold;
}

p{
    margin-bottom: 0;
}

button{
    border: none;
    color: white;
    background-color: $color_primary;
}